<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{{ title }}</title>

    <style>
        p {
            margin: 5px 0 0;
        }
        table, th, td {
            margin-top: 20px;
            border-collapse: collapse;
            border: 1px solid black
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>

<body>
    <h2>{{ title }}</h2>
    <p>Totaal gemaakte uren: {{ total_hours }}</p>
    {{ table }}
</body>

</html>
